<!doctype html>
<html class="no-js" lang="{{ app.request.getLocale() }}{% if 'en' == app.request.getLocale() %}-us{% endif %}"
      prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile# place: http://ogp.me/ns/place# books: http://ogp.me/ns/books#">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
        {% if pageTitle is defined %}
            {{ pageTitle }} |
        {% endif %}
        {{ siteName|trans({}, 'additional') }}
        </title>
        {% embed '@TeiEdition/Default/hyphenation.html.twig' %}{% endembed %}
        {% embed '@TeiEdition/Default/head_meta.html.twig' %}{% endembed %}

        {% embed '@TeiEdition/Default/head_bootstrap.html.twig' %}{% endembed %}

        {#
            triggers scssphp, this one doesn't prepend app.request.basepath
            since it overrides \Symfony\Bridge\Twig\Extension\AssetExtension
            and doesn't prepend $this->getBasePath().ltrim($versionedPath, '/')
            as in Symfony\Component\Asset\PathPackage
        #}
        <link href="{{ app.request.basepath }}{{ asset('css/base.css') }}" rel="stylesheet">

        {% embed '@TeiEdition/Default/head_style.html.twig' %}{% endembed %}

        {% block head %}{% endblock %}

        {% embed '@TeiEdition/Default/head_script.html.twig' %}{% endembed %}
    </head>

    <body role="document" class="route-{{ app.request.get('_route') | replace({'_' : '-'}) }}">
        <div id="displaybox" style="display: none;">
            <a href="#" style="display: block; position: absolute; top: 8px; right: 8px;" onclick="$('#displaybox').toggle(); return false;"><svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="2em" width="2em" viewBox="0 0 40 40" style="vertical-align: middle;"><g><path d="m31.6 10.7l-9.3 9.3 9.3 9.3-2.3 2.3-9.3-9.3-9.3 9.3-2.3-2.3 9.3-9.3-9.3-9.3 2.3-2.3 9.3 9.3 9.3-9.3z"></path></g></svg></a>
            <div id="displayBoxContent" style="background-color: white; margin-top: 2em; margin-left: auto; margin-right: auto; width: 90%; height: 90%; overflow: auto;"></div>
        </div>
        {% block header %}
        {% embed '@TeiEdition/Default/header.html.twig' %}{% endembed %}
        {% endblock %}

        {% block contenttop %}
        {% embed '@TeiEdition/Default/contenttop_skeleton.html.twig' %}{% endembed %}
        {% endblock %}

        {% block contentcontainer %}
        <div class="container wrapper">
        {% block body %}{% endblock %}
        </div>
        {% endblock %}

        {% block footer %}
        {% embed '@TeiEdition/Default/footer.html.twig' %}
        {% endembed %}
        {% endblock %}

        <a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button" title="{{ 'Click to return to the top of the page'|trans }}" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
        {% block javascripts %}{% endblock %}

        {% block webanalytics %}
        {% endblock %}
    </body>
</html>
