        <footer>
            {% if twitterSite is not empty %}
            <div id="footer-social" class="container-fluid">
                <div class="row">
                    <div class="col-xs-12" style="z-index: 1; text-align: center">
                    <a class="twitter" target="_blank" href="https://twitter.com/{{ twitterSite }}" title="@{{ twitterSite }}" rel="noopener"> </a>
                    </div>
                </div>
            </div>
            {% endif %}
            <div id="footer-navigation" class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3" style="z-index: 1">
                        {% set menu = knp_menu_get('main', [], {'position': 'footer'}) %}
                        {{ knp_menu_render(menu) }}
                    </div>
                    <div class="col-xs-6 col-sm-3" style="z-index: 1">
                        {% set menu = knp_menu_get('top', [], {'position': 'footer', 'part': 'left'}) %}
                        {{ knp_menu_render(menu) }}
                    </div>
                    <div class="col-xs-6 col-sm-2" style="z-index: 1">
                        {% set menu = knp_menu_get('top', [], {'position': 'footer', 'part': 'right'}) %}
                        {{ knp_menu_render(menu) }}
                    </div>
                    {% block footer_navigation_right %}
                    {% endblock %}
                </div>
            </div>
        </footer>
